name: C / C++ Build and Test
on:
  workflow_dispatch:
jobs:
  build-and-test:
    runs-on: self-hosted
    # We run inside the "Golden Image" to match the developer's environment
    container:
      image: docker.fermihdi.dev/devops/goldenimage
      options: --privileged -v /dev:/dev -v /dev/hugepages:/dev/hugepages
      credentials:
        username: ${{ secrets.HARBOR_USER }}
        password: ${{ secrets.HARBOR_TOKEN }}
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: System Compilation
        run: |
          cmake --workflow --preset=release
      
      - name: Build & Compile Tests
        run: |
          cmake -B build -Dbuild_tests=ON
          cmake --build build --parallel $(nproc)

      - name: Execute Unit Tests
        run: |
          # Use ctest to run all tests (GTest for C, Pytest for Python)
          # We use --output-on-failure so the developer sees the error in Coder
          cd build && ctest --output-on-failure -j$(nproc)

    #   - name: Run Codacy Analysis
    #     uses: codacy/codacy-analysis-cli-action@master 
    #     with:
    #       api-token: ${{ secrets.CODACY_API_TOKEN }}
    #       project-name: 'your-c-project'
